@using Microsoft.AspNetCore.Identity
@using sppo.Areas.Identity.Data

@inject SignInManager<Profile> SignInManager
@inject UserManager<Profile> UserManager
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<title>Theme Changer</title>
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<link rel="stylesheet" id="theme" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="wrapper">
	<ul class="navbar-nav">
		@if (SignInManager.IsSignedIn(User))
		{
			<li class="nav-item">
				<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
			</li>
			<li class="nav-item">
				<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
				</form>
			</li>
		}
		else
		{
			<li class="nav-item">
				<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
			</li>
			<li id="li" class="nav-link text-dark">
				Themes
				<ul>
					<li><button class="btn btn-primary" onclick="ChangeDark()">Dark</button></li>
					<li><button class="btn btn-primary" onclick="ChangeLight()">Light</button></li>
				</ul>
			</li>
		}
	</ul>
</div>


<script>
	function ChangeDark() {
		document.getElementById("theme").setAttribute("href", "/lib/bootstrap/dist/css/bootstrapcyborg.css");
	}
	function ChangeLight() {
		document.getElementById("theme").setAttribute("href", "/lib/bootstrap/dist/css/bootstraplumen.css");
	}
</script>


<style>
	* {
		margin: 0;
		padding: 0;
	}

	.wrapper ul {
		list-style: none;
		margin-top: 2%;
	}

		.wrapper ul li {
			width: 100px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			float: left;
		}

			.wrapper ul li ul li {
				float: left;
				background-color: white;
			}

		.wrapper ul ul {
			display: none;
		}

		.wrapper ul li:hover > ul {
			display: block;
		}
</style>