@model IEnumerable<sppo.Models.ProfileVM>

@{

}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@foreach (ProfileVM s in Model)
{
    var picturePath = "~/images/" + (s.ProfilePicture ?? "noimage.jpg");
<div style="display:inline-flex">
    <div class="container">
        <div class="row" style="width:350%">
            <div class="col-lg-4">
                <div class="card m-b-30">
                    <div class="card-body">  
                        <div class="media">
                            @if (s.ProfilePicture != null)
                            {
                                <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="@picturePath" asp-append-version="true" />
                            }
                            else
                            {
                                <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Picture not loaded." />
                            }
                            <div class="media-body">
                                <h5 class="mt-0 font-18 mb-1">@s.FirstName @s.LastName</h5>
                                <p class="text-muted font-14">@s.Email</p>
                                <ul class="social-links list-inline mb-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-primary" onclick="window.location='/Profile/Details?id=@s.Id'">Prikazi profil</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<style>

    body {
        background: #eff3f6;
    }

    .thumb-lg {
        height: 88px;
        width: 88px;
    }

    .card {
        border: none;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    }

    .m-b-30 {
        margin-bottom: 30px;
    }

    .social-links li a {
        -webkit-border-radius: 50%;
        background: #fcfdfd;
        border-radius: 50%;
        color: #9f9f9f;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }
</style>
